@{
    Layout = "~/Views/Shared/_areaFuncionario.cshtml";
}

<section class="bem-vindo" style="color: white;">
    <h1>Olá, @ViewBag.usu. Sejá bem vindo ao Sistema.</h1>
    <h2>@DateTime.Now</h2>
    <img class="man" src="~/assets/img/mansushi.png">
</section>